/* body{
  width: 100%;
  min-height: 1500px;
} */
.article {
  width: 72%;
  height: auto;
  /* position: absolute;
    left: 13.5%;
    top: 10%;  */
  margin: 0 auto;
  display: grid;
  margin-top: 30px;
  grid-template-columns: 69% 31%;
}
.box {
  width: 97%;
  background-color: #eeebe9;
  /* margin: 0 auto; */
}
.main {
  /* width: 100%; */
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
}
.right {
  width: 97%;
  height: 600px;
  /* float: right; */
  margin-left: 3%;
  margin-top: 10px;
}
.nameChapter {
  height: 45px;
  font-weight: bolder;
  background-color: #ff4d63;
  color: white;
  border-radius: 4px 0px 0px 0px;
  /* display: flex; */
  /* flex-direction: row; */
  /* display:grid; */
}

/* .nameChapter > div:nth-child(2) {
    margin-left: auto;
} */

.titleChapter {
  font-weight: bolder;
  color: grey;
  opacity: 0.6;
  font-family: "Comic Sans MS";
  font-size: 24px;
  border-bottom: 1px solid #ccc;
}
input {
  display: none;
  visibility: hidden;
}
.test {
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: 1px solid #ccc;
  color: #666;
  cursor: pointer;
  background-color: #ff4d63;
}
/* .test:hover {
    color: #000;
  }
  .test::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    vertical-align: text-top;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
  } */

.demo {
  width: 100%;
  height: 45px;
  display: block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCA0MiAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMzguNDg4IDNMMjAuOTg0IDIwLjQ1MiAzLjQ4IDMuMDQiIHN0cm9rZT0iI0ZGNEQ2MyIgc3Ryb2tlLXdpZHRoPSI2IiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=)
    left top no-repeat;
  background-size: 21px 12px;
  background-position: 2% 50%;
  /* display: grid;
      grid-template-columns: auto auto; */
  cursor: pointer;
  position: relative;
  z-index: 2;
}
/* .progress-complete{
    height: 0px;
    text-align: right;
    position: relative;
    z-index: 1;
    background-color: white;
    top:-40px;
  } */
.progress-complete-text {
  margin-top: 5px;
  margin-right: 10px;
  user-select: none;
  font-family: "Comic Sans MS";
  font-size: 18px;
  color: #b5a99e;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  left: 74.5%;
  top: -39px;
}
.progress-complete-final {
  background-color: #eeebe9;
  width: 100%;
  height: 25px;
  margin-top: -45px;
}
.expand {
  max-height: 0px;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
  overflow: hidden;
  /* transition: 800ms; */
}
.expand-child {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
  display: grid;
  cursor: pointer;
  grid-template-columns: 76% 24%;
}
.expand-child-lesson {
  width: 90%;
  height: 100%;
  padding: 15px;
  cursor: pointer;
}
.lesson-progress {
  width: 100%;
  background-color: #f5f3f1;
  /* background: url(D:\IT\Front-end\reactjs\my-app\src\resume.JPG) left top no-repeat;
    background-size: contain;
    background-position: center; */
  display: grid;
  grid-template-rows: 70% 30%;
}
.lesson-progress-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-badge-in-progress {
  width: 60px;
  height: 61px;
  /* position: relative;
    top: 25%;
    left: 35%; */
  /* object-fit: contain; */
  /* object-position: 0px 10%; */
}
.progress-badge-incomplete {
  width: 60px;
  height: 61px;
  /* position: relative;
    top: 15%;
    left: 35%; */
}
.lesson-progress-in-progress-button {
  background-color: #9557ec;
}
.lesson-progress-incomplete-button {
  background-color: #0dd037;
}
.lesson-progress-percent-button {
  background-color: #1dd0b4;
}
.text-percent {
  font-size: 18px;
  color: #b5a99e;
  font-family: "Comic Sans MS";
  position: relative;
  /* left: 45%; */
  top: 10%;
}
#toggle:checked ~ .expand {
  max-height: 9999px;
  /* transition: 400ms; */
  transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
  /* transition-delay: 0s; */
}

#toggle:checked ~ .demo {
  transform: rotateX(180deg);
  transition: 400ms;
}

.demo:hover ~ .progress-complete-text {
  color: #ff4d63;
}
.text {
  /* width: 90%; */
  font-size: 24px;
  line-height: 45px;
  text-align: left;
  margin-left: 10px;
  display: inline;
  font-family: "Comic Sans MS";
  text-transform: uppercase;
}
.name-lesson {
  font-family: "Comic Sans MS";
  font-size: 15px;
  color: #a52e3b;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -3px;
}
.title-lesson {
  font-family: "Comic Sans MS";
  font-size: 22px;
  color: #a52e3b;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -15px;
}
.content-lesson {
  font-family: "Comic Sans MS";
  font-size: 15px;
  color: #c0b8ae;
  margin-top: -15px;
}
.content-lesson::before {
  content: "+";
  margin-right: 5px;
}
.ul-content-lesson {
  padding-left: 0px;
  list-style-type: none;
}
.li-content-lesson {
  margin-left: 5px;
}

.hexa {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  background-color: #ff4d63;
  border-radius: 0px 4px 0px 0px;
}

.hexa > .hexagon_total:nth-child(20n + 1) {
  grid-column: 20;
}
.hexa > .hexagon_total:nth-child(20n + 2) {
  grid-column: 19;
}

.hexagon_total {
  width: 15px;
  height: 17px;
  background-image: url("https://quantic.mba/assets/vectors/progress_indicator_white_unfilled-60233f4f.svg");
  background-size: 14.95px 17px;
  margin-right: 2px;
  float: right;
  padding: 0%;
  margin-top: 2.5%;
}

.hexagon_total:before,
.hexagon_total:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 10.61px;
  height: 10.61px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.1967px;
}

.hexagon_total:before {
  top: -5.3033px;
  border-top: solid 2.8284px #ffffff;
  border-right: solid 2.8284px #ffffff;
}

.hexagon_total:after {
  bottom: -5.3033px;
  border-bottom: solid 2.8284px #ffffff;
  border-left: solid 2.8284px #ffffff;
}

/* ----------------------------------------------------------------------- */
/* #toggle-two:checked ~ .expand {
    max-height: 9999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0); 
  }
  #toggle-two:checked ~ .demo{
    transform: rotateX(180deg);
    transition: 400ms;
  } */

/* --------------------Responsive ----------------------------- */
@media screen and (max-width: 1600px) {
  /* .article{position: absolute;left: 13.5%;top: 10%; } */
  .article {
    width: 1139.75px;
    overflow-y: hidden;
  }
  .box {
    overflow: hidden;
  }
  /* .main{max-width: 768.36px;}
    .expand{width: 100%;} */
}

@media screen and (max-width: 1200px) {
  .article {
    width: 1024px;
    overflow-y: hidden;
  }
  .box {
    overflow: hidden;
  }
}

@media screen and (max-width: 1150px) {
  .article {
    width: 986.5px;
    overflow-y: hidden;
  }
  .box {
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 72.5%;
  }
}

@media screen and (max-width: 1070px) {
  .article {
    width: 911.5px;
    overflow-y: hidden;
  }
  .box {
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 70.5%;
  }
}

@media screen and (max-width: 1000px) {
  .article {
    width: 800px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 75.5%;
  }
}

@media screen and (max-width: 870px) {
  .article {
    width: 750px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 75.5%;
  }
}

@media screen and (max-width: 835px) {
  .article {
    width: 700px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 74.5%;
  }
}

@media screen and (max-width: 765px) {
  .article {
    width: 700px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 40%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 730px) {
  .article {
    width: 665px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 39%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 695px) {
  .article {
    width: 635px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 38%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 665px) {
  .article {
    width: 600px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 37%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 630px) {
  .article {
    width: 565px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 36%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 595px) {
  .article {
    width: 535px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 35%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 560px) {
  .article {
    width: 500px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 34%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 525px) {
  .article {
    width: 465px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 34%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 495px) {
  .article {
    width: 430px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 33%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 460px) {
  .article {
    width: 395px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 32%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 425px) {
  .article {
    width: 360px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 31%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 390px) {
  .article {
    width: 325px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 25%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 355px) {
  .article {
    width: 290px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 23%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 320px) {
  .article {
    width: 255px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 18%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

@media screen and (max-width: 285px) {
  .article {
    width: 220px;
    grid-template-columns: 100% 0%;
    overflow-y: hidden;
  }
  .box {
    width: 100%;
    overflow: hidden;
  }
  .progress-complete-text {
    position: relative;
    left: 27%;
  }
  .expand-child {
    grid-template-columns: 100% 0%;
  }
  .nameChapter {
    height: 35px;
    text-align: center;
  }
  .text {
    font-size: 22px;
    line-height: 35px;
  }
  .titleChapter {
    height: auto;
  }
  .ul-content-lesson {
    display: none;
  }
  .expand-child {
    height: auto;
  }
  .title-lesson {
    font-size: 18px;
  }
  .demo {
    background: none;
  }
}

.course-icon {
  float: left;
  width: 110px;
  height: 110px;
  position: relative;
  top: 0;
  left: 0;
}

.course-title {
  float: left;
  font-size: 45px;
  width: 78%;
  color: #ff4d63;
  font-family: ProximaNovaSoft, AmiriWeb, sans-serif;
  font-weight: bold;
  line-height: 50px;
  margin-left: 30px;
}

.course-box {
  margin-bottom: 10px;
  height: 110px;
  width: 100%;
}

.course-description {
  font-size: 25px;
  color: #a52e3b;
  margin-bottom: 50px;
}

.hexagon-span {
  text-align: right;
  float: right;
  margin-right: 20px;
}

.diamon {
  bottom: 35px;
  content: "";
  background-size: 18px 18px;
  display: block;
  position: relative;
  left: 50%;
  height: 18px;
  width: 18px;
  margin: -7.5px 0 0 -9px;
  background-image: url("https://quantic.mba/assets/vectors/horizontal_rule_diamond_beige-3a421482.svg");
}
.bottombox-completeline {
  height: 3px;
  width: 100%;
  background-color: #c0b8ae;
  margin-bottom: 30px;
}

.lesson-description {
  color: #c0b8ae;
}

.status {
  width: 60px;
  height: 61px;
  margin-top: 0px;
  display: inline-block;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.lesson-progress-button-done {
  background-color: #ff4d63;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 10px;
}
.lesson-progress-button-learning {
  background-color: #9557ec;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 10px;
}
.lesson-progress-button-start {
  background-color: #0dd037;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.expand-child-lesson :hover {
  color: #ff4d63;
}

.top-right-box{
  width: 100%;
  height: 65px;
  background-color: white;
  border-radius: 4px;
}
.topbox-title{
  color: #4d7aff;
  font-weight:500;
  font-size: 24px;
  margin-left: 20px;
  padding-top: 10px;
  width: auto;
}

.icon-start{
width: 20px;
height: 20px;
}

.icon{
  width: 40px;
  background-color: #4d7aff;
  text-align: center;
  padding: 8px 0;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  position: relative;
  bottom: 50px;
  float: right;
  right: 10px;
  height: 50px;
}
.bottombox-headers {
  font-size: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
  color: #c0b8ae;
  font-weight: 500;
 
}
.bottombox-completeline {
  height: 3px;
  width: 100%;
  background-color: #c0b8ae;
  margin-bottom: 30px;
}
.diamon{
  bottom: 35px;
  content: "";
  background-size: 18px 18px;
  display: block;
  position: relative;
  left: 50%;
  height: 18px;
  width: 18px;
  margin: -7.5px 0 0 -9px;
  background-image: url("https://quantic.mba/assets/vectors/horizontal_rule_diamond_beige-3a421482.svg");
}
.smarly-highlight{
  background-color: #f5f3f1;
  margin-top: 25px;
  padding: 15px;
}
.smarly-ul{
  color: #c0b8ae;
  font-size: 18px;
  margin-top: -30px;
}
.smarly-ul-bold{
  color: #c0b8ae;
  font-size: 18px;
  font-weight: 500;
}
.smarly-creadit{
  color: #c0b8ae;
  font-size: 18px;
}