.bottombox-headerbox {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.bottombox-header {
    font-size: 25px;
    text-align: center;
    color: #c0b8ae;
    font-weight: 600;
    margin-bottom: 10px;
}

.bottombox-completeline {
    height: 3px;
    width: 100%;
    background-color: #c0b8ae;
    margin-bottom: 30px;
}

.diamon{
    bottom: 35px;
    content: "";
    background-size: 18px 18px;
    display: block;
    position: relative;
    left: 50%;
    height: 18px;
    width: 18px;
    margin: -7.5px 0 0 -9px;
    background-image: url("https://quantic.mba/assets/vectors/horizontal_rule_diamond_beige-3a421482.svg");
}

.bottombox-text{
    text-align: center;
    font-size: 17px;
    margin-bottom: 25px;
    color: #c0b8ae;
}

.bottombox-imagediv{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom:50px
}
.bottombox-image{
    width:246px;
    height: 190px;
}

.cetificate{
    position: relative;
    margin: 0 auto;
    width: 246px;
    height: 190px;
    background-size: 100%;
    background-image: url("https://quantic.mba/assets/images/certificate_light_quantic-8dcb4d40.png");
}
.trophy{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}