

.navbar{
  background-color: #ff4d63;
}
.icon-back, .but-ansPage-close, .answer-button, .hexagon_viewed{
  cursor: pointer;
}
.but-selected{
 border-color: #106e6e;
 background-color: #106e6e!important;
 box-shadow: none;
 cursor: default;
 color: white;
}
.navbar .row{
  margin: 0px 0px 0px -10px;
}
.nav-caption{
  font-weight: 400;
    font-size: 25px;
    line-height: 18px;
    margin-left: 5px;
}
.nav-title{
  text-align: right;
}
.nav-hexa h3 {
  text-align: center;
  
}
.nav-title h2, .nav-title h3 {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span, a, h1, h2, h3, h4, h5, h6 {
  color: white;
}

.hexagon_questions{
  margin-top: 5px;
  display: grid;
}
.hexagon{
  margin: 1px;
}

.hexagon_viewed {
  position: relative;
  width: 15px; 
  height: 8.66px;
  background-color: #ffffff;
  margin: 4.33px 0;
}
.hexagon_viewed:hover{
  opacity: .3;
}
.hexagon_viewed:before,
.hexagon_viewed:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
}

.hexagon_viewed:before {
  bottom: 100%;
  border-bottom: 4.33px solid #ffffff;
}

.hexagon_viewed:after {
  top: 100%;
  width: 0;
  border-top: 4.33px solid #ffffff;
}


.hexagon_selected {
  position: relative;
  width: 15px; 
  height: 8.66px;
  background-color: #ff4d63;
  margin: 4.33px 0;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}

.hexagon_selected:before,
.hexagon_selected:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 10.61px;
  height: 10.61px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.1967px;
}

.hexagon_selected:before {
  top: -5.3033px;
  border-top: solid 2.8284px #ffffff;
  border-right: solid 2.8284px #ffffff;
}

.hexagon_selected:after {
  bottom: -5.3033px;
  border-bottom: solid 2.8284px #ffffff;
  border-left: solid 2.8284px #ffffff;
}



@supports (display: grid) {

		.hexagon_questions {
			max-width: 50rem;
      grid-template-columns: repeat(11, 9px);
      grid-template-rows: 16px;
      
		}
		.hexagon:nth-child(11n+1) {grid-column: 1}
		.hexagon:nth-child(11n+2) {grid-column: 3}
		.hexagon:nth-child(11n+3) {grid-column: 5}
		.hexagon:nth-child(11n+4) {grid-column: 7}
		.hexagon:nth-child(11n+5) {grid-column: 9}
    .hexagon:nth-child(11n+6) {grid-column: 11}
    
		.hexagon:nth-child(11n+7) {grid-column: 2}
    .hexagon:nth-child(11n+8) {grid-column: 4}
		.hexagon:nth-child(11n+9) {grid-column: 6}
		.hexagon:nth-child(11n+10) {grid-column: 8}    
    .hexagon:nth-child(11n+0) {grid-column: 10}
    
	
}

.but-ansPage-close{
  display: none;
}


.title{
  overflow: hidden;
}

.question-stage{
  min-height: 300px;
  background-color: white;
  margin-top: 20px;
}
.lead{
  margin-top: 20px;
  font-size: 20px;
  color: #35092c;
  font-weight: 400;
    font-style: normal;
    max-width: 800px;
}
.question-img{
  max-width: 300px;
  max-height: 200px;
}
.row{
  margin: 0px;
}
.answers-stage{
  margin-top: 10px;
}
.answer-button{
  border: 3px solid transparent;
    border-radius: 3px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
    outline: 0;
    background: #fff;
    line-height: 20px;
    min-height: 74px;
    font-size: 18px;
    width: 100%;
    margin: 10px;
    max-width: 310px;
}
.answer-button:hover{
  box-shadow: 0 0 13px 0 #ff4d63;
}

.button-stage{
  padding: 15px;
}
.btn-pre {
  background-color: transparent;
  color: #d4ccc3;
  border: 2px solid rgb(212, 204, 195);
}
.btn-pre:hover{
  background-color: #d4ccc3;
color: #fff;
}
.btn-next{
  float: right;
  background-color: #0dd037;
  color: #fff;
  border: 2px solid #fff;
}
.btn-next:hover{
  background-color: #0ede3b;
}
.btn-next, .btn-pre{
  min-height: 50px;
  max-width: 230px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px 16px;
  line-height: 1.33333;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color .3s ease,border-color .3s ease,color .3s ease;
  text-shadow: none;
  white-space: nowrap;
  outline: 0;
  text-indent: 0;
  font-style: normal;
  text-decoration: none;
  background-repeat: no-repeat;
  text-transform: capitalize;
}

#snackbar {
  visibility: hidden; 
  width: 260px; 
  min-height: 250px;
  margin-left: -125px; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px;
  padding: 16px;
  position: fixed; 
  z-index: 1; 
  right: 0;
  bottom: 0;
}

#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 1s ease;
  animation: fadein 1s ease;
}


#snackbar_top {
  visibility: hidden; 
  width: 100%; 
  min-height: 80px;
  color: #fff; 
  text-align: center; 
  border-radius: 2px;
  padding: 16px;
  position: fixed; 
  z-index: 111; 
  left: 0;
  top: 0;
  display: none;
}
.hint-true{
  background-color: #0dd037;
}
.hint-false{
  background-color: #ffbe00;
}
.close{
  margin-top: -25px;
  margin-bottom: -20px;
  font-size: 2rem;
  cursor: pointer;
}
#snackbar_top.show {
  visibility: visible; 
  -webkit-animation: fadein 1s ;
  animation: fadein 1s;
}

@-webkit-keyframes fadein {
  0% {
      opacity: 0;
      transform: translateY(2000px);
  }
  60% {
      opacity: 1;
      transform: translateY(-30px);
  }
  80% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
      opacity: 0;
      transform: translateY(2000px);
  }
  60% {
      opacity: 1;
      transform: translateY(-30px);
  }
  80% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0);
  }
}

.message-close-hexagon{
    position: absolute;
    left: -20px;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color .3s ease,border-color .3s ease,color .3s ease;
}
.message-close-hexagon:hover{
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
.message-element p {
  font-size:18px;
}
.hex-close-icon{
  height: 27px;
  margin-top: 11px;
}
.close-button{
  cursor: pointer;
}

.pointer-none{
  pointer-events: none;
}


















/* Responsive */
@media (max-width: 767px){
  body h3 {
    font-size: 16px!important;
  }
  .title{
    display: none!important;
  }
  .but-ansPage-close{
    display: inline-block;
    text-align: right;
  }
  .nav-caption{
    display: none;
  }
  .nav-title{
    float: right;
  }
  .button-stage{
    margin-top: 70px;
    padding: 0;
  }
  .btn-pre{
    display: none!important;
  }
  .btn-next{
    max-width: 100%;
  }
  #snackbar{
    display: none;
  }
  #snackbar_top{
    display: inline;
  }
  .nav-back{
    cursor: pointer;
  }
}





	